* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.container {
  margin: auto;
  padding: 0 3%;
  max-width: 100%;
}
header {
  position: sticky;
  top: 0;
  background: inherit;
  z-index: 99;
}
.logo {
  margin-left: 16px;
}
.header-inner {
  display: flex;
  padding: 1% 3%;
  border-bottom: 1px solid #e6e8ec;
  justify-content: space-between;
  box-shadow: -20px -1px 17px rgba(87, 87, 87, 0.1);
}
.videoList {
  display: flex;
  flex-wrap: wrap;
}
.videoList .videoCard {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e6e8ec;
  transition: border-color 0.2s;
  width: calc(33.333% - 32px);
  margin: 32px 16px 0;
  position: relative;
}
.videoList .videoCard .videoTitle {
  font-size: 18px;
  margin: 0;
  padding: 10px;
}
.videoList .videoCard .videoChannelName {
  font-size: 16px;
  margin: 0;
  padding: 0 10px;
}
.videoList .videoCard .videoViews {
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 20px;
}
.videoList .videoCard .videoCardImage {
  width: 100%;
}
.videoList .videoCard .videoAction {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  gap: 10px;
}
.videoList .videoCard .videoAction button {
  background: #fff;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border: 0;
}
.videoList .videoCard .videoAction img {
  width: 18px;
  height: 18px;
}
.addVideoWrapper {
  width: calc(33.333% - 32px);
  border-radius: 24px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e6e8ec;
  padding: 16px;
  margin: 30px 16px 0;
}
.section-title {
  font-size: 24px;
  margin-bottom: 10px;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.form-wrapper .form-group {
  margin: 16px 0 8px;
  width: 100%;
}
.form-wrapper .form-group .input-label {
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
}
.form-wrapper .form-group .input-field {
  border: 1px solid #c5c5c7;
  padding: 12px 16px;
  display: block;
  width: 100%;
  border-radius: 8px;
}
.form-wrapper .form-group .input-field:focus-visible {
  outline: 0;
}
.form-wrapper .add-videobtn {
  font-size: 14px;
  text-transform: capitalize;
  background: #373c73;
  padding: 11px 20px;
  border: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  margin: 23px 0 15px;
}
.theme-mode-icon {
  border: 0;
  background: transparent;
  cursor: pointer;
}
.light-mode {
  background-color: #fff;
  color: #141416;
}
.dark-mode {
  background-color: #141416;
  color: #fff;
}
.dark-mode .videoCard {
  background: #141416;
  border-color: #353945;
  color: #fcfcfd;
}
.dark-mode .header-inner {
  border-color: #353945;
}
.dark-mode .addVideoWrapper {
  background: #141416;
  border-color: #353945;
  color: #fcfcfd;
}

@media only screen and (max-width: 1280px) {
  .container {
    padding: 80px 0;
  }
  .addVideoWrapper {
    width: calc(100% - 32px);
  }
}
@media only screen and (max-width: 1024px) {
  .videoList .videoCard {
    width: calc(50% - 32px);
  }
}
@media only screen and (max-width: 768px) {
  .videoList .videoCard {
    width: calc(100% - 32px);
  }
}
